<ion-content>
    <ion-content class="ion-padding">
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-center">Iniciar Sesión</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <form class="" id="loginform" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                    <small *ngIf="invalidEmail" class="text-danger m-2">El correo electrónico es incorrecto</small>

                    <ion-item lines="full">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <small *ngIf="invalidPassword" class="text-danger m-2">Contraseña inválida</small>

                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" expand="block">Login</ion-button>
                        </ion-col>
                    </ion-row>

                </form>
            </ion-card-content>
        </ion-card>


        <ion-fab slot="fixed" vertical="bottom" horizontal="center">
            <ion-fab-button id="open-action-sheet">
                <ion-icon name="person"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <ion-action-sheet trigger="open-action-sheet" header="Usuarios"
            [buttons]="actionSheetButtons">
        </ion-action-sheet>

    </ion-content>