<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">dashboard</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button [routerLink]="['/crud-item']" expand="block" color="dark">Crud Item</ion-button>
    <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
</ion-content>